apiVersion: v1
clusters:
- cluster:
    certificate-authority: /home/vscode/.minikube/ca.crt
    extensions:
    - extension:
        last-update: Sun, 25 Jan 2026 13:57:40 UTC
        provider: minikube.sigs.k8s.io
        version: v1.37.0
      name: cluster_info
    server: https://192.168.49.2:8443
  name: airbnb
contexts:
- context:
    cluster: airbnb
    extensions:
    - extension:
        last-update: Sun, 25 Jan 2026 13:57:40 UTC
        provider: minikube.sigs.k8s.io
        version: v1.37.0
      name: context_info
    namespace: default
    user: airbnb
  name: airbnb
current-context: airbnb
kind: Config
users:
- name: airbnb
  user:
    client-certificate: /home/vscode/.minikube/profiles/airbnb/client.crt
    client-key: /home/vscode/.minikube/profiles/airbnb/client.key
